* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

button:disabled {
  cursor: not-allowed !important;
}

:root {
  /* fonts */
  --font-inter: "Inter", sans-serif;

  /* font sizes */

  /* Colors */
  --color-white: #fff;
  --color-gray: #7d7d7d;
  --color-whitesmoke: #f2f0f2;

  /* border radiuses */
  --br-3xs: 1rem;
}

.wrapper {
  display: grid;
  grid-template-columns:
    minmax(6rem, 1fr) [center-start] minmax(min-content, 130rem)
    [center-end] minmax(6rem, 1fr);
  max-height: 100vh;
}

.main {
  grid-column: center-start / center-end;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.input-employee-id {
  align-self: flex-start;
  font-size: 1.8rem;
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-gray);
  border-radius: 0.5rem;
}

.icon {
  align-items: center;
  padding: 0.5rem;
}

.card {
  position: relative;
  max-width: 62rem;
  text-align: center;
  color: var(--color-white);
  font-family: var(--font-inter);
}

.time {
  margin: 0;
  position: relative;
  font-size: 9.6rem;
  font-weight: 700;
}

.day {
  position: relative;
  font-size: 2rem;
  font-weight: 500;
  color: var(--color-whitesmoke);
}

.date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.63rem;
}

.box,
.clock-out-button {
  font-size: 2rem;
  align-self: stretch;
  display: flex;
  padding: 0.5rem 2rem;
  font-size: 2rem;
  flex: 1;
  position: relative;
  font-family: var(--font-inter);
  font-weight: 500;
  color: var(--color-white);
  text-align: center;
  padding: 0.5rem 1rem;
}

.clock-out-button {
  cursor: pointer;
  border: 0;
  background-color: #95cd60;
  border-radius: 1rem;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.box {
  border-radius: var(--br-3xs) var(--br-3xs) 0 0;
  background-color: #6dbbad;
  overflow: hidden;
  flex-direction: column;
  padding: 3rem;
  align-items: center;
  justify-content: flex-start;
  gap: 3.13rem;
}

.clock-in-time1 {
  flex: 1;
  position: relative;
  font-weight: 500;
}

.clock-in-time {
  font-size: 2rem;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.view-time-records-button {
  font-size: 2rem;
  flex: 1;
  position: relative;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-gray);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border: 1px solid var(--color-gray);
  background-color: var(--color-whitesmoke);
  align-self: stretch;
  border-radius: var(--br-3xs);
  padding: 0.5rem 2rem;
}

.box1,
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.box1 {
  align-self: stretch;
  border-radius: 0 0 var(--br-3xs) var(--br-3xs);
  background-color: var(--color-white);
  padding: 3rem;
  gap: 1.88rem;
  font-size: var(--font-size-xl);
  color: var(--color-gray);
}

@media only screen and (min-width: 350px) and (max-width: 500px) {
  .time {
    font-size: 4rem;
  }
}
@media only screen and (max-width: 360px) {
  .time {
    font-size: 2rem;
  }
  .view-time-records {
    font-size: 1rem;
  }
  .clock-out {
    font-size: 1rem;
  }
  .day {
    font-size: 1rem;
  }
  .clock-in-time1 {
    font-size: 1rem;
  }
}

.table {
  grid-column: center-start / center-end;
}

#myTable {
  font-family: var(--font-inter) !important;
  font-size: 1.6rem;
  color: #333;
  padding: 1rem 0;
}

#myTable_wrapper {
  font-family: var(--font-inter) !important;
  font-size: 1.6rem !important;
}

#myTable thead {
  background-color: #6dbbad;
  color: #fff;
}

/* #myTable tbody {
  display: block;
  width: 100%;
  max-height: 50vh;
  overflow-y: auto;
} */

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent background */

  display: none; /* Hide the modal by default */
  align-items: center;
  justify-content: center;
}

.modal-content {
  overflow-y: auto;

  background-color: white;
  padding: 2rem;
  border: 1px solid #888;
  width: 70%;
  max-height: 90vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  transition: 0.2s ease-out;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.attendance {
  color: #fff;
  /* font-weight: 700; */
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.attendance--1 {
  background-color: #4caf50;
}

.attendance--2 {
  background-color: #ff5722;
}

/* Clock in background color */
.clock-in-bg {
  background-color: #4caf50;
}

/* Clock out background color */
.clock-out-bg {
  background-color: #ff5722;
}
